* {
margin: 0;
padding: 0;
}

body {
background-color: cyan;
background-image: url(../assets/IMG_1745-Enhanced-2.jpg);
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

#center_container {
position: relative; 
background-color: #fff;
margin-left: auto;
margin-right: auto;
margin-top: 2.5%;
margin-bottom: 2.5%;
min-width: 320px;
max-width: 800px;
border: 1px solid #D6D6D6;
border-radius: 15px;
}

#intro_col {
position: relative;
font-family: 'Roboto Condensed', san-serif;
text-align: center;
margin-left: auto;
margin-right: auto;
width: 95%;
min-height: 425px;
margin-top: 2.5%;
border: 1px solid #D6D6D6;
border-radius: 10px 10px 5px 5px;
}

#intro_col h1 {
font-size: 58px;
}

.icon {
position: relative;
width: 90%;
min-width: 180px;
max-width: 360px;
border-radius: 180px;
border: solid 1px #000;
border-style: outset;
margin: 2.55%;
}

#container_text  {
position: relative;
font-family: 'Rokkitt', serif;
margin-left: auto;
margin-right: auto;
width: 95%;
margin-top: 5%;

}

#container_text h3 {
font-size: 40px;
text-align: center;
padding-bottom: 1.5%;
}

#container_text p {
font-family: 'Rokkitt', serif;
position: relative;
margin-left: auto;
margin-right: auto;
width: 90%;
font-size: 18px;
text-align: center;
padding-bottom: 2.5%;
}

.center-txt-align {
text-align: center;
}

#footer_col {
position: relative;
text-align: center;
margin-bottom: 5%;
margin-left: auto;
margin-right: auto;
width: 60%;
max-width: 300px;
margin-top: 2.5%;
}


#footer_col li {
text-align: center;
display: inline;
padding: 5px;
font-size: 64px;
}

#footer_col i {
text-decoration: none;
color: #000;
}